// kan skapa en scss fil som håller variablerna som andra scss filer importerar med  _namnPåFil.scss 

// $variabel-namn: hotpink;
// h1 {
  // color: $variabel-namn
// }


$body-bg: #26242A;

$body-color: seashell;

$theme-colors: (
  'primary': #1F0E38,
  'secondary': #957c75,
  'success': #624b26,
);

@import '~bootstrap';
@import '~bootstrap-vue';